body {
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
}

nav,
main,
footer,
header,
article,
aside {
    border: 2px solid red;
    box-sizing: border-box;
}

nav {
    float: left;
}

main {
    display: inline-block;

}

aside {
    width: 40%;
    float: right;
}

article {
    display: inline-block;
    width: 40%;
}


header {
    text-align: center;
}