html {
    background-color: blue;
}

body {
    width: 60%;
    margin: 0 auto;
    background-color: lightgreen;
    border: 5px solid black
}

.primary {
    color: blue;
}

.secondary {
    color: red;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    border: 10px ridge gold;
}