div {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: red;
}

.items {
    display: inline;
}

.options {
    display: inline-block;
}

.selections {
    display: block;
}